* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

img {
    max-width: 225px;
    max-height: 225px;
}

li, a {
    list-style: none;
    text-decoration: none;
    color: #f4f4f4;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 15px;
}

ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #261b51;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: blue;
    color: #261b51;
}

.calculator {
    padding-top: 20px;
    flex-grow: 1;
    background-color: aliceblue;
}

.mainCalc .screen {
    height: 200px;
    border: #261b51 solid 2px;
    margin: 10px;
}

.calculator .container{
    width: 600px;
    border: #261b51 solid 2px;
    height: 750px;
    margin: 0 auto;
    background-color: #47bad2;
}

.footer {
    text-align: center;
    background-color: #261b51;
    color: #f4f4f4;
}

.symbols {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 10px 10px 20px;
}

.symbol {
    height: 70px;
    width: 70px;
    /* margin: 5px; */
    margin-bottom: 10px;
    background-color: aqua;
}

.numbers {
    border: #261b51 solid 2px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    gap: 40px;
    margin: 10px;
    flex-grow: 1;
    justify-content: space-evenly;
}

.number {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
    background-color: aquamarine;
    color: #261b51;
}
.pad {
    display: flex;
    flex-direction: row-reverse;
}

button:hover {
    background-color: chartreuse;
    color: #000;
}

/* media que */

@media (max-width: 600px) {
    .calculator .container {
        width: 400px;
        height: 650px;
    }

    .symbol , .number{
        height: 40px;
        width: 40px;
    }
    .number:nth-of-type(10){
        margin-bottom: 20px;
    }
}